config/dev.yml
config/private.yml
config/settings.yml

.blobs
blobs/*



releases/**/*.tgz
release
dev_releases
influxdb/
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
tmp
*credentials.yml

templates/license.yml

ci/bin/update_pipeline_local.sh
my*.yml
deployments/
